BraveSoftware/
zsh/oh-my-zsh/
zsh/history
zsh/.zcompdump
zsh/.zcompdump-kingdom-5.8
zsh/histfile
discord/
configstore/
nvim/plugged/
tmux/plugins/
htop/
libfm/
pcmanfm/
rclone/
sublime-text-3/
transmission-daemon/
vlc/
pulse/
nitrogen/
calcurse/
pavucontrol.ini
user-dirs.dirs
dconf
GIMP/
QtProject.conf
