BraveSoftware/
zsh/oh-my-zsh/
zsh/history
zsh/.zcompdump
zsh/.zcompdump-kingdom-5.8
zsh/histfile
discord/
configstore/
nvim/plugged/
tmux/plugins/
htop/
libfm/
pcmanfm/
rclone/
sublime-text-3/
transmission-daemon/
vlc/
pulse/
nitrogen/
calcurse/
pavucontrol.ini
user-dirs.dirs
dconf
GIMP/
QtProject.conf
transmission/
Thunar/
wget/
xfce4/
libreoffice/
font-manager/
wallpaper/
gtk-3.0/
gtk-2.0/
VSCodium/
bashtop/
calibre/
GitKraken/
torbrowser/
qBittorrent/
blender/
lxsession/
inkscape/
sqlitebrowser/
qutebrowser/
